.aula01{
    background-color: blue;
    color:azure
}
.centro{
    text-align: center;
}
.esquerda{
    text-align: left;
}
.direita{
    text-align: right;
}

.cor-solida{
    background-color: brown;
}
.gradiente{
    background: linear-gradient(red,blue);
}
.imagem{
    background-image: url(https://imageio.forbes.com/specials-images/imageserve/645c9f5b9a8c05b67fe63665/FC-Barcelona-fired-Xavi-Hernandez-/960x0.jpg?format=jpg&width=960);
    background-size: cover;
    background-position: center;
}

.flex{
     display: flex;
}